<ion-header>
    <ion-toolbar color="yanbao">
        <ion-buttons start>
          <button ion-button icon-only (click)="goToBackPage()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title center>支付成功</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content style="background:rgb(229, 229, 229);">
  <ion-grid no-padding style="background-color: #fff;">
      <ion-row *ngIf="shopData!=null" class="paySuccess">
          <ion-col no-padding>
              <ion-row class="paySuccessImg">
                  <ion-col>
                      <img src="{{shopData.icon}}"/>
                      <span>{{shopData.storeName}}</span>
                  </ion-col>
              </ion-row>
          </ion-col>
      </ion-row>
      <ion-row class="paySuccessText">
          <ion-col no-padding>
              消费付款成功
          </ion-col>
      </ion-row><!--
      <ion-row class="paySuccessAmount">
          <ion-col no-padding>
              <mark style="background:none;font-size:22px;">¥</mark>{{commonService.toDecimal(paymentAmount)}}
          </ion-col>
      </ion-row>
 -->
      <ion-row class="payAmount">
          <ion-col width-33>实际付款金额</ion-col>
          <ion-col width-66 text-right>¥{{commonService.toDecimal(actualPayMent)}}</ion-col>
    </ion-row>
    <ion-row *ngIf="discountAmount>0" class="payAmount" style="padding:0;border-bottom:none;">
        <ion-col width-33>EP券抵用</ion-col>
        <ion-col width-66 text-right>-{{commonService.toDecimal(discountAmount)}}</ion-col>
    </ion-row>

      <ion-row class="paySuccessAmount">
          <ion-col no-padding>
              <button ion-button (click)="ISOK()" block>确认</button>
          </ion-col>
      </ion-row>
      <!-- <ion-row class="logoImg">
          <ion-col>
              <span>斗拍下载&nbsp;&nbsp;点击下面按钮进入下载</span>
              <img src="assets/images/dp.png"/>
          </ion-col>
      </ion-row>
      <ion-row class="downLoad">
          <ion-col>
              <button *ngIf="osType==0">{{downloadUrl.androidAppUrl}}
                  <a href="{{datas.androidAppUrl}}">安卓下载</a>
              </button>
          </ion-col>
          <ion-col>
              <button *ngIf="osType==1">{{downloadUrl.iosAppUrl}}
                  <a href="{{datas.iosAppUrl}}">IOS下载</a>
              </button>
          </ion-col>
      </ion-row> -->
  </ion-grid>
</ion-content>
