page-addGoods {
	
	textarea.text-input {
	  height: 80%;
	}
	.buttons button{border:1px solid #ddd; border-bottom: none; border-right: none; color: #333; border-radius: 0;}
	.buttons{ margin-left: -10px; }
}
