page-payMent{
    .payMent{
        background:url('../assets/images/pack.png');
        background-size:100% 100%;
        height:120px;
        .collectionImg{
            height:100px;
            margin:10px 0;
            ion-col{
                text-align: center;
                img{
                    height:70px;
                    border-radius: 50%;
                }
                span{
                  height:20px;
                  color:#fff;
                  display: block;
                }
            }
        }
    }
    .discountEP{
				padding:3px 0 !important;
				margin-top:5px;
				ion-col:nth-child(1){
						text-align:left;
						max-width:85%;
						padding-left: 16px !important;
				}
				ion-col:nth-child(2){
						max-width:15%;
						text-align: center;
						.ionRadio,.ionRadio1{
								border:1px #dfdfdf solid;
								border-radius:50%;
								height:21px;
								width:21px;
								line-height: 21px;
								.radio-inner{
										border-color:#fff;
										height:10px;
								}
						}
						.ionRadio{
								background:#FF651E;
						}
						.ionRadio1{
								background:#fff;
						}
				}
		}
    .discountInfo{
				margin-top:5px;
				ion-col:nth-child(1){
						padding:10px 0 10px 16px !important;
				}
				ion-col:nth-child(2){
						padding:10px 0 !important;
				}
		}
    .collectionSum{
        margin:15px 0;
        color:#000;
        span{
            display: inline-block;
            margin-bottom:-5px;
        }
        ion-input{
            display: inline-block;
            border:1px #ccc solid;
            border-radius: 5px;
            width:150px !important;
            height:40px;
            line-height: 40px;
            background:#fff;
            font-size:18px;
            padding:0 5px;
            input{
                margin:0 !important;
            }
        }
    }
    .warning{
        ion-col{
            padding:10px;
            font-size: 12px;
        }
    }
    .payWay{
      margin:0;
      .payWayTitle{
          padding-left:5px;
          border-bottom:1px solid #dfdfdf;
          background:#fff;
          ion-col{
            color:#999;
          }
      }
      margin-top:5px;
      ion-row{
        padding-left:5px;
        border-bottom:1px solid #dfdfdf;
        background:#fff;
        ion-col{
          color:#999;
        }
      }
      ion-item{
          font-size:14px;
          .input-wrapper{
              padding-left:0px;
          }
          img{
              height:35px;
              float:left;
          }
          span{
              float:left;
              margin:10px 0 0 8px;
          }
      }
      ion-radio{
        .radio-icon{
          width: 21px;
          height: 21px;
          border-width: 1px;
          border-style: solid;
          border-color:#c8c7cc;
          border-radius: 50%;
          .radio-inner{
              border-color:#fff;
              height:10px;
          }
        }
      }
      .radio-checked{
          border-color: #FF651E;
          background-color: #FF651E;
      }
      // ion-item{
      //     font-size:14px;
      //     .item-inner{
      //         border:0 !important;
      //     }
      //     span{
      //         position: absolute;
      //         margin:5px 0 0 8px;
      //     }
      // }
      // ion-radio{
      //   .radio-icon{
      //     width: 21px;
      //     height: 21px;
      //     border-width: 1px;
      //     border-style: solid;
      //     border-color:#c8c7cc;
      //     border-radius: 50%;
      //     .radio-inner{
      //         border-color:#fff;
      //         height:10px;
      //     }
      //   }
      // }
      // .radio-checked{
      //     border-color: #FF651E;
      //     background-color: #FF651E;
      // }
    }
    .discountEP{
				padding:8px 0 3px 0 !important;
				margin-top:5px;
        border-top:1px #dfdfdf solid;
				ion-col:nth-child(1){
						text-align:left;
						max-width:85%;
						padding-left: 16px;
				}
				ion-col:nth-child(2){
						max-width:15%;
						text-align: center;
						.ionRadio,.ionRadio1{
								border:1px #dfdfdf solid;
								border-radius:50%;
								height:21px;
								width:21px;
								line-height: 21px;
								.radio-inner{
										border-color:#fff;
										height:10px;
								}
						}
						.ionRadio{
								background:#FF651E;
						}
						.ionRadio1{
								background:#fff;
						}
				}
		}
    .discountInfo{
				margin-top:5px;
				ion-col:nth-child(1){
						padding:10px 0 10px 16px !important;
				}
				ion-col:nth-child(2){
						padding:10px 0 !important;
				}
		}
    .agreement{
        position:fixed;
        bottom:35px;
        background:#fff;
        width:100%;
        ion-col{
            width:100%;
            padding:5px 10px !important;
            line-height:32px;
            ion-checkbox{
                margin-bottom:-5px;
            }
            mark{
                background:none;
                text-decoration:underline;
                color:blue;
                font-size: 14px;
            }
        }
    }
    .submit{
        height:40px;
        button{
            background:#FF651E;
            width:100%;
            height:100%;
            color:#fff;
            height:40px;
            line-height:40px;
            font-size: 16px;
        }
    }
    .payPage{
    ion-row{
      background:#fff;
    }
    ion-row:last-child{
      background:none;
    }
    padding:0;
    .payWay{
        background:#fff;
        ion-list-header{
          color:#999;
          background:#fff;
          font-size:14px;
          width:95%;
          margin:0 auto;
        }
        ion-item{
          font-size:14px;
          width:95%;
          margin:0 auto;
        }
      }
  }
}
