page-myGoods {
    .showGoods{
        background-color:#EFEFEF;
        padding: 0px 0px 5px 0;
    }
    .goodsInfo{
        border-top: 1px solid #DFDFDF;
        border-bottom: 1px solid #DFDFDF;
        margin-bottom: 5px;
        background-color: #FFFFFF;
    }
}
