<ion-header>
    <ion-toolbar color="yanbao">
        <ion-buttons start>
          <button ion-button icon-only (click)="goToBackPage()">
            <ion-icon name="arrow-back"></ion-icon>
          </button>
        </ion-buttons>
        <ion-title center>绑定手机号</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list no-margin *ngIf="!isShowMsgCode">
        <ion-item>
            <ion-label >手机号</ion-label>
            <ion-input maxlength="11" type="text" bindon-ngModel="mobile" placeholder="输入手机号" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>验证码</ion-label>
            <ion-input maxlength="4" type="text" bindon-ngModel="imgCode" placeholder="输入验证码"></ion-input>
            <img src="{{imgStr}}" (click)="loadImgCode()" style="height:35px;width:90px;" no-padding item-right ion-button clear>
        </ion-item>
    </ion-list>
    <div padding *ngIf="!isShowMsgCode">
      <button full (click)="loadMsgCode()" ion-button >获取短信验证码</button>
    </div>
    <!-- 手机验证码 -->
    <ion-list no-margin *ngIf="isShowMsgCode">
        <ion-item>
            <ion-label >手机号</ion-label>
            <ion-input [disabled]="true" maxlength="11" type="text" bindon-ngModel="mobile" clearInput></ion-input>
        </ion-item>
        <ion-item>
            <ion-label>短信码</ion-label>
            <ion-input maxlength="6" type="text" bindon-ngModel="smsCode" placeholder="输入手机短信码"></ion-input>
        </ion-item>
    </ion-list>
    <div padding *ngIf="isShowMsgCode">
      <button full (click)="bingdMobileCode()" ion-button >绑定手机</button>
    </div>
</ion-content>
